h1{
    margin-top: 50px;
    display: flex;
    justify-content: center;  
}
div{
    display: grid;
    grid-template-rows: 50px auto 50px;
    justify-items: center;
    padding-bottom: 50px;
}
.cult_video{
    width: 540;
    height: 150;
    border-radius: 100px;
}
.botao{
    background-color: #007bff;
    color: white;
    padding: 10px 20px; /* Espaçamento interno */
    margin-top: 10px;
    border: none;
    border-radius: 25px;
    cursor: pointer; /* Muda o cursor para mãozinha */
    text-decoration: none;
}